/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */
:root {
  --bg-primary: #0A0F24;
  --bg-secondary: #FAE3CF;
  --bg-atomix-orange: #FA8603;
  --bg-demonix-red: #BB2233;
}

.header-app-name {
  color: #FAE3CF;
  margin: 2;

  font-weight: bold !important;
  text-decoration: none;

}

.text-primary {
  color: var(--bg-primary);
}

.text-secondary {
  color: var(--bg-secondary);
}

.text-atomix-orange {
  color: var(--bg-atomix-orange);
}

.text-demonix-red {
  color: var(--bg-demonix-red);
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.bg-atomix-orange {
  background-color: var(--bg-atomix-orange) !important;
}

.bg-demonix-red {
  background-color: var(--bg-demonix-red) !important;
}

.home-banner {
  padding: 50px 0;
  background: var(--bg-primary) !important;
  color: var(--bg-secondary) !important;
  text-align: center;
}

.first-section {
  padding: 50px 0;
}

.header-logo {
  margin-right: 1%;
}

.section-background {
  padding: 50px 0;
  background-color: FAE3CF;
}

.menu {
  /* margin-right: 2.3%; */
  /* margin-right: 5%; */
}

.menu .menu-item {
  color: var(--bg-secondary);
  margin-left: 3%;
  font-weight: bold;
}

.menu-item:hover {
  border-bottom: 1px solid var(--bg-secondary);
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
}

.menu .active {
  border-bottom: 1px solid var(--bg-secondary);
}

.menu-mobile-item {
  padding: 0px 20vw;
  color: var(--bg-primary);
  border-bottom: 1px solid var(--bg-primary);
  font-weight: bold;
}

.menu-mobile-item.active {
  background: var(--bg-primary);
  color: var(--bg-secondary);
  border-left: 4px solid var(--bg-secondary);
  border-bottom: 1px solid var(--bg-secondary);

}

.home-about-us,.home-why-me,.home-about-tech,.hire-me-connect,.blogs-page {
  margin-top: 3%;
}

.about-us, .why-me, .blogs-page {
  padding: 2%;
  background-color: #fff;
  color: var(--bg-primary);
}
.why-tech,.connect-me {
  padding: 2%;
  background-color: var(--bg-primary);
  color: var(--bg-primary);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: logo-spin infinite 20s linear;
  }
}


/*  Register Page  */
.auth-box {
  max-width: 400px;
  /* margin-top: 10%; */
  /* text-align: center; */
  /* background-color: #fff;
  filter: drop-shadow(0px 0px 10px var(--bg-primary));
  border-radius: 10px;
  padding: 3px; */
}

.auth-box-card {
  background-color: #fff;
  filter: drop-shadow(0px 0px 10px var(--bg-primary));
  border-radius: 10px;
  padding: 10px;
}
.activeTab {
  font-weight: bold !important;
}

.rdt_TableCol{
  background-color: #0a0f24 !important;
   color: #fae3cf !important;
}
/*  Media Query  */

@media (max-width: 960px) {
  .desktop-only {
    display: none !important;
  }
}




.features, .blog-list {
  background-color: #f5f5f5;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.about-me-icons{
  color: var(--bg-primary) !important;
  background-color: var(--bg-secondary) !important;
}
/* 
.about-me-icons:hover{
  background-color: var(--bg-primary) !important;
  color: var(--bg-secondary) !important;
} */
.about-tech{
  background-color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hire-me{
  background: #f91942 !important;
  color: #fff !important;
  font-size: 18px;
  color: #fff;
  background: linear-gradient(45deg, #f91942, #f91942);
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px #f91942;
  animation: glow 2s infinite;
}
.hire-me:hover {
  transform: scale(1.1);
}
/* Glowing Animation */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(249, 25, 66, 0.4),
                0 0 10px rgba(249, 25, 66, 0.4),
                0 0 20px rgba(249, 25, 66, 0.4),
                0 0 30px rgba(249, 25, 66, 0.6),
                0 0 40px rgba(249, 25, 66, 0.6);
  }
  50% {
    box-shadow: 0 0 10px rgba(249, 25, 66, 0.6),
                0 0 20px rgba(249, 25, 66, 0.6),
                0 0 30px rgba(249, 25, 66, 0.8),
                0 0 40px rgba(249, 25, 66, 1),
                0 0 50px rgba(249, 25, 66, 1);
  }
  100% {
    box-shadow: 0 0 5px rgba(249, 25, 66, 0.4),
                0 0 10px rgba(249, 25, 66, 0.4),
                0 0 20px rgba(249, 25, 66, 0.4),
                0 0 30px rgba(249, 25, 66, 0.6),
                0 0 40px rgba(249, 25, 66, 0.6);
  }
}
